.App {
  text-align: center;
  max-height: 600px;
  height: 570px;
  overflow-y: hidden;
}

.App-header {
  background-color: #282c34;
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  font-size: 26px;
  color: white;
}

.App-Action-Header {
  display: grid;
  grid-template-columns: 100px 30px 1fr repeat(2, 100px);
  grid-gap: 10px;
  padding: 10px 20px;
  background-color: #282c34;
  color: #fff;
}

.App-Actions {
  height: 400px;
  overflow-y: scroll;
}

.App-Action-Icon {
  width: 30px;
  height: 30px;
}

.App-Action-Select {
  cursor: pointer;
  font-size: 20px;
  margin-top: 5px;
}

.App-Action-Delete {
  cursor: pointer;
  margin: 0 20px;
  padding: 10px;
}

.App-Action-Favorite {
  cursor: pointer;
  margin: 0 20px;
  padding: 10px;
  color: #FFD700;
}

.App-Action-Row {
  display: grid;
  grid-template-columns: 100px 30px 1fr repeat(2, 100px);
  grid-gap: 10px;
  padding: 10px 20px;
}

.App-Action-Row:has(.App-Action-Favorite) {
  grid-template-columns: 100px 30px 1fr repeat(3, 100px);
}

.App-Action-Element {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
  width: 100%;
}

.App-Action-Checkbox {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.App-icon {
  cursor: pointer;
  margin: 0 20px;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.App-Action-Header {
  display: grid;
  grid-template-columns: 100px 30px 1fr repeat(2, 100px);
  grid-gap: 10px;
  padding: 10px 20px;
  background-color: #282c34;
  color: #fff;
}

.Current-Action-Icon {
  width: 30px;
  height: 30px;
  margin: auto 25px auto auto;
}

.Current-Action-Delete {
  cursor: pointer;
  margin: 0 20px;
  padding: 10px;
}

.Current-Action-Row {
  display: flex;
  padding: 10px 20px;
}

.Current-Action-Element {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
  width: 360px;
}

.Hover-message {
  width: 598px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  background-color: #f0f0f0;
  color: #333;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}
